.album_logo img {
	width: 300px;
	height: 300px;
}

body {
	background: white url("http://www.physics.emory.edu/faculty/weeks//pics/stuff/dottile2.gif");
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
}